This is for the parameters set up
27	3	2014 : First day of simulation period - 26 March 2014  
24	7	2014 : Last day of simulation period - 25 March 2014    
Climate Data
C:\Users\Song Jim\Desktop\Git Hub\Crop-Model\Libraries\Input\Climate-Water.CLI
Plant Parameters
C:\Users\Song Jim\Desktop\Git Hub\Crop-Model\Libraries\Input\Plant.CRO
Soil Data
C:\Users\Song Jim\Desktop\Git Hub\Crop-Model\Libraries\Input\Test.SOL
Management Settings
C:\Users\Song Jim\Desktop\Git Hub\Crop-Model\Libraries\Input\Test.MAN